@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Tela de Login</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/js/scripts.js" defer></script>
</head>

<body>


    <main class="container-login">

        <aside class="painel-esquerdo">
            <img src="~/assets/ImgLogin 1.png" alt="">
        </aside>

        <section class="painel-direito">
            <div class="borda">
                <img src="~/assets/logo.png" alt="Logo Readery" class="logo-login">

                <form id="loginForm">
                    <section class="forms">
                        <div class="usuario">
                            <label for="usuario">Usuário</label>
                            <input type="text" id="usuario" placeholder="Nome de usuário" required>
                        </div>

                        <div class="senha">
                            <label for="senha">Senha</label>
                            <input type="password" id="senha" placeholder="*******" required>
                        </div>
                    </section>

                    <a href="#" class="link-esqueci">Esqueci minha senha</a>

                    <p class="mensagemErro @(ViewBag.Erro != null ? "mostrar" : "")">
                        @ViewBag.Erro
                    </p>

                    <section class="botoes">
                        <button type="submit" id="botaoEntrar" class="botao-entrar">Entrar</button>
                        <a href="#" class="botao-cadastro">Cadastre-se</a>
                    </section>
                </form>
        </section>
        </div>
    </main>

</body>

</html>