@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/js/scripts.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Bem vindo(a), @ViewBag.Usuario!</h1>

        <p>Login realizado com sucesso.</p>

        <a href="/Login/Sair">
            <button>Sair</button>
        </a>
    </div>

</body>
</html>