@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --marrom-claro: #E3D6C8;
    --marrom: #B8A28B;
    --marrom-escuro: #8E7253;
    --branco: #FFFFFF;
    --preto: #000000;
}

* {
    font-family: "Roboto", sans-serif;
    color: var(--preto);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

body {
    background-image: url(~/../../assets/fundo-folhas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}

.container-login {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}

.painel-esquerdo {
    background-image: url(~/../../assets/Group\ 53\ \(1\).png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
}

.painel-direito {
    padding: 150px 50px;
}

.borda {
    border: 7px solid var(--preto);
    border-radius: 15px;
    position: relative;
    padding: 50px 40px;
    border-color: var(--marrom-escuro);
    background-color: var(--marrom-claro);
    margin: 100px 150px 150px 150px;
}

.logo-login {
    height: auto;
    position: absolute;
    left: 40%;
    bottom: 90%;
}

#loginForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.forms {
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.forms input {
    width: 345px;
    height: 55px;
    background-color: var(--marrom);
    border: none;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10%;
}

.forms input::placeholder {
    color: var(--branco);
    font-size: 100%;
    display: flex;
    align-items: self-start;
}

.forms label {
    display: flex;
    justify-content: start;
}

.link-esqueci {
    color: var(--preto);
    text-decoration: none;
    margin-left: 19%;
}

.link-esqueci:hover {
    color: var(--marrom-escuro);
    text-decoration: underline;
}

.botoes { 
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 1%;
    width: 50%;
}

.botao-entrar {
    background-color: var(--marrom);
    border: none;
    border-radius: 15px;
    padding: 7%;
    color: var(--branco);
    font-size: 1.4rem;
    margin-bottom: 4%;
    margin-top: 4%;
    width: 70%;
}

.botao-cadastro {
    display: flex;
    justify-content: center;
    background-color: var(--marrom-escuro);
    padding: 7%;
    color: var(--branco);
    border: none;
    border-radius: 15px;
    font-size: 1.4rem;
    text-decoration: none;
    width: 70%;
    margin-top: 4%;
}

.botao-entrar:hover, .botao-cadastro:hover {
    background-color: var(--marrom-claro);
    color: var(--marrom-escuro);
    border: 2px solid var(--marrom-escuro);
    border-radius: 15px;
}

.loginErro {
    color: #B40000; 
    display: flex;
    visibility: hidden; 
}

.input-error {
    border: 3px solid #B40000 !important; 
    box-shadow: 0 0 5px rgba(180, 0, 0, 0.7); 
}

/*RESPONSIVIDADE - MEDIA QUERY*/

@media (max-width: 500px) {
    .container-login {
        background-position: center;
    }

    .forms input {
        width: 200%;
        height: 200%;
    }

    .borda {
        width: 80%;
    }

    .link-esqueci {
        margin-left: 25%;
        font-size: 0.7rem;
    }

    .botao-entrar, .botao-cadastro {
        font-size: 1rem;
    }
}